/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter);
  font-weight: var(--font-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-image: var(--background-image);
  background-size: cover;
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--font-press-start);
  gap: 20px;
  border: 2px solid var(--accent-color);
  padding: 25px;
  width: clamp(20.833rem, 0rem + 100vi, 38.889rem);
  background-color: var(--background-color);

}

.header__title-html {
  font-size: 65px;
  line-height: 65px;
}

.header__title {
  margin-bottom: 5px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.theme-menu__button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  transition: opacity 0.3s ease;
  opacity: 1;
  position: relative;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  bottom: 0;
  left: -15px;
  font-size: 16px;
  color: var(--accent-color);
  animation: arrow 0.5s ease-in-out infinite alternate;
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}




.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color);
  gap: 25px;
  margin: 50px auto;
  width: clamp(20.833rem, 0rem + 100vi, 38.889rem);
  background-color: var(--background-color);
}

.card__title {
  font-size: 18px;
  border-bottom: 2px solid var(--accent-color);
  line-height: 21.78px;
  font-weight: 785;
  margin-bottom: -25px;
}

.card__image {
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--accent-color);
}

.card__text {
  margin: 0 25px;
  font-size: 18px;
  font-weight: var(--font-weight);
  line-height: 21px;
}

.card__footnote {
  margin: 0px 25px;
  font-size: 18px;
  font-weight: var(--font-weight);
  line-height: 21px;
}

.card__like-icon {
  display: flex;
  justify-self: center;
  align-self: flex-end;
  margin: 0 12px;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__like-icon:focus {
  outline: none;
}

.card__like-icon:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-place {
  display: flex;
  justify-self: center;
  align-self: flex-end;
  margin: 0 25px 25px;
}

.card__like-button {
  position: relative;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-weight: 400px;
  width: 130px;
  height: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.card__like-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
  transition: box-shadow 0.3s ease;  
  box-shadow: 2px 2px 0 var(--accent-color);
}


.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__button {
  background-color: transparent;
  border: 2px solid var(--accent-color);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-weight: 400px;
}


@media (prefered-color-scheme: theme-dark) {
  .header {
    /* background-color: dark; */
  }
}
