/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-inter);
  font-weight: var(--font-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  align-items: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-image: var(--background-image);
  font-variation-settings: 'wght' var(--font-weight);
}


.header {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-family: var(--font-press-start);
  gap: 20px;
  border: 2px solid var(--accent-color);
  padding: 25px;
  inline-size: clamp(20.833rem, 0rem + 100vi, 38.889rem);
  background-color: var(--background-color);

}

.header__logo-html {
  margin-top: 15%;
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  line-height: 65px;
}

.header__title {
  margin-block-end: 5px;
  text-align: center;
  font-size: 23px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}


.theme-menu__button {
  background-color: transparent;
  text-transform: uppercase;
  border: none;
  transition: opacity 0.3s ease;
  opacity: 1;
  position: relative;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  bottom: 0;
  left: -15px;
  font-size: 16px;
  color: var(--accent-color);
  animation: arrow 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--accent-color);
  margin: 50px auto;
  width: clamp(20.833rem, 0rem + 100vi, 38.889rem);
  background-color: var(--background-color);
}

.card__title {
  font-size: 18px;
  border-bottom: 2px solid var(--accent-color);
  line-height: 21.78px;
  font-variation-settings: 'wght' var(--font-weight);
}

.image-label {
  position: relative;
  display: inline-block;
}

.card__image {
  display: block;
  width: 100%;
  height: auto;
  border-bottom: 2px solid var(--accent-color);
  margin-bottom: 25px;
}

.brightness {
  filter: brightness(120%);
}

.contrast {
  filter: contrast(115%);
}

.blur {
  filter: blur(0.04rem);
}

.opacity {
  filter: opacity(0.8);
}

.grayscale {
  filter: grayscale(60%);
}

.saturate {
  filter: saturate(0.5);
}

.sepia {
  filter: sepia(0.9);
}

.contrast-blur {
  filter:contrast(115%) blur(0.02rem);
}

.card-label {
  position: absolute;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  top: 25px;
  right: 25px;
  font-family: var(--font-press-start);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  white-space: nowrap;
  text-shadow: -1px -1px 0 var(--label-border-color), 1px -1px 0 var(--label-border-color), -1px 1px 0 var(--label-border-color), 1px 1px 0 var(--label-border-color);
}

@supports((text-stroke: 1px var(--label-border-color)) or (-webkit-text-stroke: 1px var(--label-border-color))) {
  .card-label {
      -webkit-text-stroke: 1px var(--label-border-color);
      text-shadow: none;
  }
} 

.card__text {
  margin: 0 25px;
  font-size: 18px;
  font-weight: var(--font-weight);
  line-height: 21px;
  margin-bottom: 25px;
}

.card__footnote {
  margin: 0px 25px;
  font-size: 18px;
  font-weight: var(--font-weight);
  line-height: 21px;
  margin-bottom: 25px;
}

.card__like-button {
  position: relative;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-weight: 400px;
  width: 130px;
  height: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.card__like-button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.button-no-focus:focus {
  outline: none;
}

.card__like-button:hover::after {
  transform: scaleX(1);
}

.card__like-button:focus {
  outline: none;
  transition: box-shadow 0.3s ease;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.footer__button {
  border: 2px solid var(--accent-color);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-variation-settings: 'wght' var(--font-weight);
  background-color: var(--background-color);
  display: flex;
  gap: 8px;
  padding: 0.8rem;
  align-items: center;
}


#floppy-dialog {
  border: 2px solid var(--accent-color);
  max-width: 353px;
  background-color: var(--background-color);
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.floppy-dialog__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.floppy-dialog__header {
  font-family: var(--font-press-start);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: var(--accent-color);
  display: flex;
  gap: 20px;
  text-transform: uppercase;
}

.floppy-dialog__header svg {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
  align-self: center;
}

.floppy-dialog__button {
  background-color: transparent;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  font-family: var(--font-press-start);
  font-size: 14px;
  font-weight: 400px;
  height: 38px;
  color: var(--accent-color);
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
#floppy {
  mix-blend-mode: difference;
  color: var(--button-text-color, rgba(255, 255, 255, 1));
}

@media (width <= 375px) {

  .header__title-html {
    font-size: 49px;
    line-height: 49px;
  }
  
  .header__title {
    font-size: 14px;
    line-height: 14px;
  }

  .footer__button {
    flex-direction: column;
  }
}
